.Button {
  margin: 6px !important;
}

.Button span {
  text-shadow: 0 0 0 #fff;
  color: transparent !important;
}

.Answer.hide {
  display: none;
}

/*.Container {
  display: flex;
}

.CardHeader {
  display: inline-flex;
  flex: 0 0 50%;
}

.CardActions {
  display: inline-flex;
  flex: 2;
}*/
